@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --color-background: #fff;
  --color-text: #111;
  --color-accent: #0c4da3;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

header {
  text-align: center;
  padding: 2rem 0;
}

.card {
  background-color: #222;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    text-decoration: none;
    color: var(--color-accent);
    transition: color 0.3s ease;
}

a:hover {
    color: #f0c14b; /* Un color diferente para hover */
}

@media (max-width: 768px) {
  .card {
      margin: 10px;
      padding: 15px;
  }
}